# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
env/

# Django
db.sqlite3
staticfiles/
media/*
!media/.gitkeep

# Editors / OS
.vscode/
.idea/
.DS_Store

# Env files
.env
ss.py